<!DOCTYPE html>
<html>
<head>
    <title>Static file page</title>
    <link rel="icon" href="/img/weather-icon.png" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpfultext}}</p>
    </div>

    {{>footer}}
</body>
</html>